@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #7FFFD4;
    --branco: #66CDAA;
    --laranja: #DAA520;
    --azul-degrade: linear-gradient(97.54deg, #f9c74f 35.49%, #7ef96b 165.37%);
    --fonte-principal: "Poppins";
    --azul: #3b8a4b;
    --fonte-secundario: "Josefin Sans";
    --preto: #D8BFD8; 
    --cinza: #FF1493;
    --cinza-claro: #cc8ab6;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}